.titlePage{  
  padding: 3%;
  font-size: 350%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}


.App {
  background-image: url('https://www.geowiki.fr/images/1/17/Ciel_%C3%A9toil%C3%A9.jpg');
}


.back{
  color: "#7CD77C";
}

.episodePortal{
  background-image: url('rickandmorty-background.gif');
}

.gif{
  list-style-image: url('./rickandmorty-background.gif');
}